In [12]:
from boto.s3.connection import Location
from boto.s3.key import Key
from configparser import ConfigParser
from sklearn import metrics
from sklearn import svm
from sklearn.cross_validation  import cross_val_score
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.neural_network import MLPClassifier
from statsmodels.formula.api import logit, probit, poisson, ols
import boto
import datetime
import glob
import logging
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pickle
import shutil
import statsmodels.api as sm
import time
import zipfile
import requests

In [13]:
    config = ConfigParser()

    config_file = os.path.join(os.path.dirname('__file__'), 'config.ini')
    config.read(config_file)
    default = config['user.data']
    user=default['username']
    passwd=default['password']
    trainQ=default['trainQtr']
    testQ=default['testQtr']

    print("USERNAME=" + user)
    print("PASSWORD=" + passwd)
    print("TRAINQUARTER=" + (trainQ))
    print("TESTQUARTER=" + (testQ))

USERNAME=yadav.ank@Husky.neu.edu
PASSWORD=?{BrQ9L\
TRAINQUARTER=Q12005
TESTQUARTER=Q22005

In [14]:
df=pd.read_csv('trainData_' + trainQ + '.csv')
traincols=['MONTHLY_REPORTING_PERIOD','CURRENT_ACTUAL_UPB','LOAN_AGE',
           'REM_MTH_LEGAL_MATURITY','CURRENT_INTEREST_DATE','CURRENT_DEFERRED_UPB']
y_train=df['DELINQUENT']
Train_DF=df[traincols]
Train_DF.head()

,MONTHLY_REPORTING_PERIOD,CURRENT_ACTUAL_UPB,LOAN_AGE,REM_MTH_LEGAL_MATURITY,CURRENT_INTEREST_DATE,CURRENT_DEFERRED_UPB
0,200504,190000.0,0,360,5.625,0.0
1,200505,190000.0,1,359,5.625,0.0
2,200506,190000.0,2,358,5.625,0.0
3,200507,189000.0,3,357,5.625,0.0
4,200508,189000.0,4,356,5.625,0.0

In [15]:
test_df=pd.read_csv('testData_' + testQ + '.csv')
testcols = ['MONTHLY_REPORTING_PERIOD', 'CURRENT_ACTUAL_UPB', 'LOAN_AGE',
                'REM_MTH_LEGAL_MATURITY', 'CURRENT_INTEREST_DATE', 'CURRENT_DEFERRED_UPB']
y_test = test_df['DELINQUENT']
Test_DF = test_df[testcols]
Test_DF.head()

,MONTHLY_REPORTING_PERIOD,CURRENT_ACTUAL_UPB,LOAN_AGE,REM_MTH_LEGAL_MATURITY,CURRENT_INTEREST_DATE,CURRENT_DEFERRED_UPB
0,200507,214000.0,0,360,5.75,0.0
1,200508,214000.0,1,359,5.75,0.0
2,200509,214000.0,2,358,5.75,0.0
3,200510,213000.0,3,357,5.75,0.0
4,200511,213000.0,4,356,5.75,0.0

# TPOT

In [16]:
from tpot import TPOTRegressor
pipeline_optimizer = TPOTRegressor()

In [17]:
pipeline_optimizer = TPOTRegressor(generations=4, population_size=20, cv = 3,
                                    random_state=42, verbosity=2)

In [ ]:
pipeline_optimizer.fit(Train_DF,y_train)

Warning: xgboost.XGBRegressor is not available and will not be used by TPOT.

HBox(children=(IntProgress(value=0, description='Optimization Progress', style=ProgressStyle(description_widthâ€¦

In [ ]:
print(pipeline_optimizer.score(test_DF, y_test))